.myscrool::-webkit-scrollbar {
  width: 8px; 
}


.scrool-progress::-webkit-scrollbar-thumb {
  background-color: purple; 
  border-radius: 6px; 
}
.scrool-completed::-webkit-scrollbar-thumb {
  background-color: green; 
  border-radius: 6px;
}

.myscrool::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}


.myscrool::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.title {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  padding-top: 0.5rem;
}
